<ion-content>
  <div id="login-form">
    <form [formGroup]="loginFG">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Library</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [formControl]="usernameFC"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [formControl]="passwordFC"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block" (click)="logIn()">Sign In</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
