<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="router.navigate(['/my-books'])">
        <span>My books</span>
      </ion-button>
      <ion-button (click)="0">
        <span>Esci</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-card style="padding: 5px; width: 100%">
        <ion-card-header>
          <ion-card-title>{{book.title}}</ion-card-title>
          <ion-card-subtitle>{{book.author}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{book.preview}}
        </ion-card-content>
        <ion-button style="float: right">Noleggia</ion-button>
        <ion-button style="float: right" color="success" (click)="router.navigate(['/book', book.isbn])">Leggi</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
