<ion-header>
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="router.navigateByUrl('/login', {replaceUrl: true})" *ngIf="!isLogged">
        <span>Login</span>
      </ion-button>
      <ion-button (click)="this.router.navigateByUrl('/my-books', {replaceUrl: true})" *ngIf="isLogged">
        <span>My books</span>
      </ion-button>
      <ion-button (click)="logout()" *ngIf="isLogged">
        <span>Exit</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" placeholder="Search by title, author or ISBN" [formControl]="searchField"></ion-searchbar>
    <ion-item>
      <ion-label>Order by</ion-label>
      <ion-select placeholder="Normal" [formControl]="orderField">
        <ion-select-option value="ISBN">ISBN</ion-select-option>
        <ion-select-option value="Title">Title</ion-select-option>
        <ion-select-option value="Author">Author</ion-select-option>
        <ion-select-option value="PublishDate">Date</ion-select-option>
      </ion-select>
      <ion-button (click)="orderAscending = !orderAscending">
        <ion-icon [name]="orderAscending ? 'arrow-down' : 'arrow-up'"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>

  <ion-list [hidden]="!loadingBooks">
    <ion-item>
      <ion-spinner name="crescent"></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-list [hidden]="loadingBooks">
    <ion-item *ngFor="let book of sort(filter(books))">
      <ion-card style="padding: 5px; width: 100%">
        <ion-card-header>
          <ion-card-title>{{book.title}}</ion-card-title>
          <ion-card-subtitle>{{book.ISBN + ' - '+ book.author}}</ion-card-subtitle>
          <ion-card-subtitle>Published Date: {{book.published_date}}</ion-card-subtitle>
          <ion-card-subtitle>Num. Pages: {{book.num_pages}}</ion-card-subtitle>
        </ion-card-header>
        <hr />
        <ion-card-content>
          {{book.preview}}
        </ion-card-content>
        <hr />
        <ion-spinner [hidden]="!loadingMyBooks" name="crescent"></ion-spinner>
        <ion-button [hidden]="loadingMyBooks || !isMyBook.includes(book.ISBN)"
          style="float: right" color="success"
          (click)="router.navigate(['/book/', book.ISBN])">
          Read
        </ion-button>
        <ion-button [hidden]="loadingMyBooks || isMyBook.includes(book.ISBN)"
          style="float: right"
          (click)="rent(book.ISBN)">
          Rent
        </ion-button>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
